*{
	font-family: roboto;
	margin: 0%;
}

.background {
	position: absolute;
	width: 100%;
	height: 400px;
	color: white;

	background: linear-gradient(132.46deg, #0127B3 2.63%, #B39FDF 71.28%);
}

.cont1{
	margin: 10% 10% 10% 10%;
}

.cont1 p {
	font-size: 52px;
}

.cont1 h1 {
	font-size: 52px;
}

.formLogin {
	position: relative;
	width: 471px;
	height: 395px;
	margin: 16% 10% 10% 10%;	
	color: black;
	text-align: center;
	float: right;

	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(3, 3, 3, 0.15);
	border-radius: 4px;
}

.formRegist {
	position: relative;
	width: 471px;
	height: 511px;
	margin: 16% 10% 10% 10%;	
	color: black;
	text-align: center;
	float: right;
	background: #FFFFFF;
	box-shadow: 0px 4px 8px rgba(3, 3, 3, 0.15);
	border-radius: 4px;
}

.formLogin input{
	width: 80%;
	height: 40px;
	margin: 8px 20px 8px 20px;
	padding : 4px;
}

.formRegist input{
	width: 80%;
	height: 40px;
	margin: 8px 20px 8px 20px;
	padding : 4px; 
}

.button1{
	width: 80%;
	height: 40px;
	margin: 8px 20px 8px 20px;
	background-color: #072BB5;
	color: white;
	text-decoration: Bold;
	border: none;
}

.button2{
	width: 80%;
	height: 40px;
	margin: 8px 20px 8px 20px;
	background-color: #ffffff;
	color: grey;
	text-decoration: Bold;
	border: none;
}