.cotainer{
    margin-top: 8%;
}

.inner{
    overflow: hidden;
}

.inner img{
    transition: all 1.5 ease;
}

.inner:hover img{
    transform: scale(1.5);
}

.inner div{
    transition: all 1.5 ease;
}

.inner:hover div{
    transform: scale(1.5);
}

.cotainer{
    margin-top: 8%;
}

.haha{
    overflow: hidden;
}

.haha img{
    transition: all 1.5 ease;
}

.haha:hover img{
    transform: scale(1.5);
}

